/* 움직이는 메뉴버튼 만들기 */
input[id="menuicon"]{
  display:none;
}

input[id="menuicon"] + label{
  display:block;
  width:50px;
  height:30px;
  position:relative;
  cursor:pointer;
}

input[id="menuicon"] + label span{
  display:block;
  position:absolute;
  width:100%;
  height:5px;
  border-radius:30px;
  background:#000;
  transition:all .35s;
}

input[id="menuicon"] + label span:nth-child(1){
  top:0;
}

input[id="menuicon"] + label span:nth-child(2){
  top:50%;
  transform:translateY(-50%);
}

input[id="menuicon"] + label span:nth-child(3){
  bottom:0;
}

input[id="menuicon"] + label span:nth-child(1){
  top:0;
}

input[id="menuicon"] + label span:nth-child(2){
  top:50%;
  transform:translateY(-50%);
}

input[id="menuicon"] + label span:nth-child(3){
  bottom:0;
}

input[id="menuicon"]:checked + label span:nth-child(1){
  top:50%;
  transform:translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked + label span:nth-child(2){
opacity: 0;
}

input[id="menuicon"]:checked + label span:nth-child(3){
  bottom:50%;
  transform:translateY(50%) rotate(-45deg);
}


/* 스르륵 나타나는 사이드메뉴 만들기 */
input[id="menuicon1"]{
  display:none;
}

input[id="menuicon1"] + label{
  display:block;
  width:50px;
  height:30px;
  position:relative;
  cursor:pointer;
}

input[id="menuicon1"] + label span{
  display:block;
  position:absolute;
  width:100%;
  height:5px;
  border-radius:30px;
  background:#000;
  transition:all .35s;
  z-index:2;
}

input[id="menuicon1"] + label span:nth-child(1){
  top:0;
}

input[id="menuicon1"] + label span:nth-child(2){
  top:50%;
  transform:translateY(-50%);
}

input[id="menuicon1"] + label span:nth-child(3){
  bottom:0;
}

input[id="menuicon1"] + label span:nth-child(1){
  top:0;
}

input[id="menuicon1"] + label span:nth-child(2){
  top:50%;
  transform:translateY(-50%);
}

input[id="menuicon1"] + label span:nth-child(3){
  bottom:0;
}

input[id="menuicon1"]:checked + label span:nth-child(1){
  top:50%;
  transform:translateY(-50%) rotate(45deg);
}

input[id="menuicon1"]:checked + label span:nth-child(2){
opacity: 0;
}

input[id="menuicon1"]:checked + label span:nth-child(3){
  bottom:50%;
  transform:translateY(50%) rotate(-45deg);
}

div[class="sidebar"]{
  width:170px;
  height:100%;
  background:#222;
  position:fixed;
  top:0;
  left:-300px;
  z-index:1;
  transition:all .35s;
}
input[id="menuicon1"]:checked + label + div{
  left:0;
}


.menu ::before{
  font-family: 'Material Icons';
  font-size: 1.5em;
  float:left;
  clear:left;
}
.menu label::before{ content: '\e5d2';}
.menu li:nth-child(1) a::before{ content: '\f02e';}
.menu li:nth-child(2) a::before{ content: '\e8d6';}
.menu li:nth-child(3) a::before{ content: '\e88a';}
.menu li:nth-child(4) a::before{ content: '\e8cc';}
.menu li:nth-child(5) a::before{ content: '\e87d';}
.menu li:nth-child(6) a::before{ content: '\e8b8';}
